@font-face {
  font-family: 'b-inline';
  src: url('./fonts/BungeeInline-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'b-outline';
  src: url('./fonts/BungeeOutline-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'b-shade';
  src: url('./fonts/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'anon-pro';
  src: url('./fonts/AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'crim-text';
  src: url('./fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'crim-text';
  src: url('./fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face { /* cursive */
  font-family: 'comic-bold';
  src: url('./fonts/ComicNeue-Bold.ttf') format('truetype');
}

@font-face { /* sans-serif */
  font-family: 'audio-wide';
  src: url('./fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face { /* sans-serif */
  font-family: 'michroma';
  src: url('./fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face { /* sans-serif */
  font-family: 'exo2';
  src: url('./fonts/Exo2-Regular.ttf') format('truetype');
}

@font-face { /* sans-serif */
  font-family: 'roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}


@font-face { /* system-ui */
  font-family: 'ps2p';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face { /* cursive */
  font-family: 'phr';
  src: url('./fonts/PatrickHand-Regular.ttf') format('truetype');
}

@font-face { /* cursive */
  font-family: 'phr-sc';
  src: url('./fonts/PatrickHandSC-Regular.ttf') format('truetype');
}

@font-face { /* system-ui */
  font-family: 'untiqua';
  src: url('./fonts/UncialAntiqua-Regular.ttf') format('truetype');
}

@font-face { /* cursive */
  font-family: 'medsharp';
  src: url('./fonts/MedievalSharp-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pf-display';
  src: url('./fonts/PlayfairDisplay.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face { /* sans-serif */
  font-family: 'jaro';
  src: url('./fonts/Jaro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #151A24;
}

/* hero or whatever section */

header {
    background-image: url('/assets/img/upper_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    font-family: 'anon-pro', monospace;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f4a261;
}

.nav-links a.active {
    background-color: #B3CDE0;
    color: #151A24;
    padding: 10px 23px;
    border-radius: 20px;
}


h1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.75rem;
}

.bungee-inline {
  font-family: 'b-inline', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bungee-outline {
  font-family: 'b-outline', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* quest paths section */
.quest-paths {
    background-image: url('/assets/img/lower_bg.png'); /* Background image */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* necessary for layering with z-index */
    margin-top: -.1rem;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.banner img {
    width: 100%;
}

.banner h2 {
    font-family: 'pf-display', serif;
    color: white;
    position: absolute;
    text-align: center;
    font-size: .75rem;
    padding-bottom: .85rem;
}

.paths {
    margin-top: -1.65rem;
    width: 90%;
}

.paths ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.paths ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paths ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.paths img {
    width: 80%;
}

.banner-label {
    font-family: 'pf-display', serif; /* Apply serif font */
    font-size: .5rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
}

/* About Overlay */
.about-overlay {
    position: absolute; /* Positioned relative to the closest ancestor with position */
    top: 20%; /* Offset from the top of the parent */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* True center alignment */
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.6),
    0px 5px 15px rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.about-overlay.active {
    opacity: .9;
    pointer-events: auto;
}

.about-overlay h2 {
    font-family: 'pf-display';
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 10px;
}

.about-overlay .shade {
    font-family: 'b-shade';
}

.about-overlay p {
    font-family: 'crim-text';
    font-size: .6rem;
    padding: 8px 10px;
    padding-bottom: 0;
}

.p3 {
    font-weight: 700;
}

/* Quest Paths Overlay */
/* Science */
.science-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.science-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.science-overlay img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.science-content {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 5px;
    z-index: 3;
    text-align: center;
}

.science-title {
    font-family: 'jaro', sans-serif;
    color: #06227B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 10px;
}

.science-title h3 {
    font-size: .6rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.science-title img {
    width: 15px;
    height: auto;
    overflow: visible;
    position: relative;
    top: 10px;
}

.science-title p {
    font-size: 1rem;
}

.science-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.science-question img {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.science-question p {
    font-family: 'comic-bold', cursive;
    font-size: .5rem;
    width: 80%;
}

.science-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.science-answers button {
    background-color: #EBECF0;
    font-family: 'comic-bold', cursive;
    color: #B2B6C6;
    font-size: 0.5rem;
    padding: 2px 18px;
    margin: 3px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.science-answers button:hover {
    transform: translateY(-2px);
}

/* Science Result */
.science-result-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.science-result-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.science-result-overlay img {
    width: 100%;
}

.science-result-content {
    font-family: 'roboto', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.science-result-content h3 {
    color: #A6ABBD;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 10px;
}

.science-result {
    font-size: .6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.science-result .correct {
    color: #00B300;
}

.science-result .wrong {
    color: #F13E3E;
}

.progress-circle-cont {
    width: 60px;
    height: 60px;
}

.outer-circle {
    width: 100%;
    height: 100%;
    background: conic-gradient(
        #f44336 0deg 72deg, /* Red: First 20% (72 degrees out of 360) */
        #4caf50 72deg 360deg /* Green: Remaining 80% */
    );
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inner-circle span {
    font-size: 1rem;
    color: #A6ABBD;
}

/* Technology */
.tech-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.tech-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.tech-overlay img {
    width: 100%;
}

.tech-content {
    position: absolute;
    width: 90%;
    z-index: 3;
    text-align: center;
}

.tech-title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.tech-title p {
    position: absolute;
    top: 5%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-family: 'audio-wide', sans-serif;
    font-size: 1.2rem;
    color: #00415A;
}

.tech-title h3 {
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-family: 'michroma', sans-serif;
    font-size: .5rem;
    font-weight: 400;
    color: white;
    letter-spacing: 0.4rem; 
}

.tech-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.tech-question img {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tech-question p {
    font-family: 'exo2', sans-serif;
    font-size: .5rem;
    color: white;
}

.tech-answers {
    position: absolute;
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}

.tech-answers button {
    font-family: 'michroma', sans-serif;
    font-size: 0.285rem;
    text-align: left;
    color: white;
    width: 80%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 3px 12px;
}

.tech-answers button span {
    width: 75%;
    white-space: wrap;
    display: inline-block;
    padding-left: 5px;
}

/* Technology Result */
.tech-result-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.tech-result-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.tech-result-overlay img {
    width: 100%;
}

.tech-result-content {
    font-family: 'audio-wide', sans-serif;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}

.tech-result-content h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.tech-result {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 50px;
    margin-top: 20px;
}

.tech-result .correct {
    background-image: url(/assets/img/tech_result_correct_bg.png);
    background-size: cover;
    background-position: center;
    padding: 3px 12px;
}

.tech-result .wrong {
    background-image: url(/assets/img/tech_result_wrong_bg.png);
    background-size: cover;
    background-position: center;
    padding: 3px 12px;
}

.tech-result .result {
    font-size: 1rem;
}

.tech-result .result-text {
    font-size: .4rem;
}

.progress-bar-cont {
    width: 100%;
    height: 10px;
    background-color: #666666;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    transition: width 0.4s ease;
}

.progress-label {
    position: absolute;
    top: 15px;
    left: 60%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.progress-label p {
    font-size: .3rem;
}

.arrow-up {
    /*width: 0;
    height: 0;*/
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid white;
}

/* History */
.history-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.history-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.history-overlay img {
    width: 100%;
}

.history-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    margin-top: 40px;
}

.history-question {
    margin-bottom: 40px;
}

.history-question p {
    font-family: 'roboto', sans-serif;
    font-size: .5rem;
}

.history-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 25px;
    width: 80%;
}

.history-answers button {
    position: relative;
    font-family: 'ps2p', system-ui;
    font-size: 0.285rem;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.history-answers button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;/
}

/* History Result */
.history-result-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.history-result-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.history-result-overlay img {
    width: 100%;
}

.history-result-content {
    font-family: 'ps2p', system-ui;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.history-result-content h3 {
    margin-bottom: 20px;
}

.history-result {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 50px;
}

.history-result .correct {
    color: #1A954E;
}

.history-result .wrong {
    color: #9C2A30;
}

.history-result .result {
    font-size: 1.5rem;
}

.history-result img {
    width: 15px;
    margin-top: 10px;
}

.history-result .result-text {
    font-family: 'roboto', sans-serif;
    font-size: .5rem;
}

/* Mathematics */
.math-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.math-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.math-overlay img {
    width: 100%;
}

.math-content {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-top: 40px;
}

.math-question {
    margin-bottom: 30px;
}

.math-question p {
    font-family: 'phr', cursive;
    font-size: 1rem;
}

.math-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
    width: 80%;
}

.math-answers button {
    position: relative;
    font-family: 'phr', cursive;
    font-size: .5rem;
    color: white;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Mathematics Result */
.math-result-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.math-result-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.math-result-overlay img {
    width: 100%;
}

.math-result-content {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.math-result-content h3 {
    font-family: 'phr-sc', cursive;
    font-weight: 400;
    text-align: left;
    margin-bottom: 13px;
    margin-left: 20px;
}

.math-result {
    font-family: 'phr', cursive;
    font-size: .8rem;
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0;
    margin-left: 40px;
}

.math-result .correct {
 text-shadow: 
 0 0 5px #0f0, /* Subtle green glow */
 0 0 10px #0f0, 
 0 0 20px #0f0, 
 0 0 30px #0f0;
}

.math-result .wrong {
    text-shadow: 
    0 0 5px #f00, /* Subtle red glow */
    0 0 10px #f00, 
    0 0 20px #f00, 
    0 0 30px #f00;
}

/* Result */
.result-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
}

.result-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.result-overlay img {
    width: 100%;
}

.result-content {
    font-family: 'medsharp', cursive;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.result-content h3 {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.result-each {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 50px;
    padding-left: 40px;
}

.result-each img {
    width: 10px;
}

.result-each p {
    font-size: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.result-total {
    display: flex;
    font-size: .7rem;
    color: #F5AC24;
    gap: 0 30px;
    margin-top: 10px;
    padding-left: 40px;
}

.result-content button {
    font-family: 'untiqua', system-ui;
    font-size: .5rem;
    color: white;
    width: auto;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffbf00, 0 0 30px #ffbf00, 0 0 40px #ffbf00;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 25px;
}

/* Full-Screen Blur - for testing */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* footer */
footer {
    margin-top: 18rem;
}

footer p {
    font-family: 'anon-pro', monospace;
    font-size: .7rem;
    color: white;
    text-align: center;
}

@media (min-width: 480px) /* 800 */ {
    .paths {
        margin-top: -2.18rem;
    }

    footer {
        margin-top: 15rem;
    }

    .science-overlay {
        top: 23%;
    }

    .science-content {
        padding: 0 60px;
        padding-top: 15px;
    }

    .science-title h3 {
        font-size: .7rem;
    }

    .science-title img {
        width: 18px;
    }

    .science-title p {
        font-size: 1.1rem;
    }

    .science-question {
        margin-bottom: 25px;
    }

    .science-question img {
        width: 33%;
    }

    .science-question p {
        font-size: .6rem;
        width: 85%;
    }

    .science-answers button {
        font-size: 0.6rem;
        padding: 3px 18px;
        margin: 5px 18px;
    }

    .science-result-content h3 {
        font-size: 1.5rem;
        margin-top: 50px;
    }

    .science-result {
        font-size: .8rem;
        margin-top: 8px;
    }

    .progress-circle-cont {
        width: 80px;
        height: 80px;
    }

    .inner-circle span {
        font-size: 1.2rem;
    }
}

@media (min-width: 580px) /* 800 */ {
    .paths {
        margin-top: -2.6rem;
    }

    .science-overlay {
        top: 28%;
    }

    .science-content {
        padding: 0px 80px;
        padding-top: 25px;
    }

    .science-title h3 {
        font-size: .8rem;
    }

    .science-title img {
        width: 20px;
    }

    .science-title p {
        font-size: 1.2rem;
    }

    .science-question {
        margin-bottom: 25px;
    }

    .science-question img {
        width: 40%;
    }

    .science-question p {
        font-size: .7rem;
        width: 90%;
    }

    .science-answers button {
        font-size: 0.7rem;
        padding: 4px 18px;
        margin: 6px 18px;
    }

    .science-result-overlay {
        top: 25%;
        left: 50%;
    }

    .science-result-content h3 {
        font-size: 1.8rem;
        margin-top: 60px;
    }

    .science-result {
        font-size: 1rem;
        margin-top: 8px;
    }

    .progress-circle-cont {
        width: 100px;
        height: 100px;
    }

    .inner-circle span {
        font-size: 1.5rem;
    }
}

@media (min-width: 640px) /* 800 */ {
    .paths {
        margin-top: -2.8rem;
    }

    .about-overlay h2 {
        font-size: 1.2rem;
    }

    .about-overlay p {
        font-size: .8rem;
    }

    .science-overlay {
        top: 30%;
    }

    .science-content {
        padding: 0px 90px;
        padding-top: 28px;
    }

    .science-question {
        margin-bottom: 35px;
    }

    .science-question p {
        width: 90%;
    }

    .science-answers button {
        padding: 4px 18px;
        margin: 6px 18px;
    }

    .science-result-overlay {
        top: 25%;
        left: 50%;
        width: 85%;
    }

    footer {
        margin-top: 13rem;
    }
}

@media (min-width: 768px) /* 432 */ {
    header {
        background-size: 100% 100%;
        height: 100vh;
    }

    .nav-bar {
        justify-content: end;
        padding: 20px 40px;
    }

    h1 {
        align-items: end;
        font-size: 3rem;
        margin-right: 6rem;
    }

    .quest-paths {
        background-size: 100% 100%;
        height: 100vh;
        margin-top: -.1rem;
    }

    .banner h2 {
        font-size: 1.5rem;
        padding-bottom: 1.85rem;
    }

    .paths {
        margin-top: -3.5rem;
    }

    .banner-label {
        font-size: 1rem;
        padding-top: 2rem;
    }

    .about-overlay {
        top: 50%;
        left: 50%;
        width: 90%;
        height: 70%;
    }

    .about-overlay h2 {
        font-size: 2.5rem;
    }

    .about-overlay p {
        font-size: 1rem;
        padding: 10px 30px;
    }

    .science-overlay {
        top: 50%;
        left: 50%;
        width: 70%;
    }

    .science-content {
        padding: 0px 90px;
        padding-top: 25px;
    }

    .science-question {
        margin-bottom: 30px;
    }

    .science-result-overlay {
        top: 50%;
        left: 50%;
        width: 75%;
    }

    .science-result-content h3 {
        font-size: 2rem;
        margin-top: 60px;
    }

    .science-result {
        margin-top: 10px;
    }


    .progress-circle-cont {
        width: 120px;
        height: 120px;
    }

    .inner-circle span {
        font-size: 1.8rem;
    }

    footer {
        margin-top: 7rem;
    }

    footer p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) /* 675 */ {
    h1  {
        font-size: 5rem;
        margin-right: 8rem;
    }

    .nav-bar {
        padding: 30px 50px;
    }

    .nav-links a {
        font-size: 1.25rem;
    }

    .paths {
        margin-top: -6.25rem;
    }

    .paths img {
        width: 85%;
    }

    .banner h2 {
        font-size: 2.5rem;
        padding-bottom: 2.8rem;
    }

    .banner-label {
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    .about-overlay h2 {
        font-size: 4rem;
        padding-bottom: 20px;
    }

    .about-overlay p {
        font-size: 1.5rem;
        padding: 20px 50px;
        padding-bottom: 0;
    }

    .science-content {
        padding: 0px 120px;
        padding-top: 45px;
    }

    .science-title h3 {
        font-size: 1.2rem;
    }

    .science-title img {
        width: 35px;
    }

    .science-title p {
        font-size: 2rem;
    }

    .science-question {
        margin-bottom: 45px;
    }

    .science-question img {
        margin-bottom: 20px;
    }

    .science-question p {
        font-size: 1rem;
    }

    .science-answers button {
        font-size: 1rem;
        padding: 5px 25px;
        margin: 10px 25px;
    }

    .science-result-content h3 {
        font-size: 3rem;
        margin-top: 100px;
        margin-bottom: 15px;
    }

    .science-result {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .progress-circle-cont {
        width: 180px;
        height: 180px;
    }

    .inner-circle span {
        font-size: 3rem;
    }

    footer {
        margin-top: 9rem;
    }
}


@media (min-width: 1400px) /* 787 */ {
    .nav-bar {
        padding-right: 60px;
    }

    h1 {
        font-size: 7rem;
    }

    .paths {
        margin-top: -6.5rem;
    }

    .paths li img {
        width: 100%;
    }

    .banner h2 {
        padding-bottom: 3.5rem;
    }

    .banner-label {
        font-size: 2rem;
    }

    .about-overlay h2 {
        font-size: 4.3rem;
    }

    .about-overlay p {
        font-size: 1.7rem;
    }

    .science-overlay {
        width: 75%;
    }

    .science-content {
        padding: 0px 160px;
        padding-top: 70px;
    }

    .science-title h3 {
        font-size: 1.5rem;
    }

    .science-title img {
        width: 40px;
    }

    .science-title p {
        font-size: 2.5rem;
    }

    .science-question {
        margin-bottom: 70px;
    }

    .science-question img {
        margin-bottom: 20px;
    }

    .science-question p {
        font-size: 1.3rem;
    }

    .science-answers button {
        font-size: 1.3rem;
        padding: 8px 25px;
        margin: 12px 25px;
    }

    .science-result-content h3 {
        font-size: 4rem;
        margin-top: 100px;
    }

    .science-result {
        font-size: 1.8rem;
        margin-top: 15px;
    }

    .progress-circle-cont {
        width: 200px;
        height: 200px;
    }

    .inner-circle span {
        font-size: 3.5rem;
    }

    footer {
        margin-top: 13rem;
    }
}

@media (min-width: 1600px) /* 900 */ {
    .paths {
        margin-top: -8rem;
    }

    .science-overlay {
        width: 73%;
    }

    .science-content {
        padding: 0px 180px;
        padding-top: 80px;
    }

    .science-title h3 {
        font-size: 1.7rem;
    }

    .science-title img {
        width: 45px;
    }

    .science-title p {
        font-size: 2.8rem;
    }

    .science-question {
        margin-bottom: 80px;
    }

    .science-question p {
        font-size: 1.5rem;
    }

    .science-answers button {
        font-size: 1.5rem;
        padding: 10px 25px;
        margin: 12px 25px;
    }

    .science-result-content h3 {
        margin-bottom: 20px;
    }

    .science-result {
        margin-top: 20px;
    }
}

@media (min-width: 1900px) {
    .paths {
        margin-top: -8.5rem;
        width: 90%;
    }

    .paths ul li {
        width: 100%;
    }

    .paths ul li a {
        width: 80%;
    }

    .banner h2 {
        font-size: 3.5rem;
        padding-bottom: 4.5rem;
    }

    .about-overlay h2 {
        font-size: 5rem;
    }

    .about-overlay p {
        font-size: 2rem;
        padding: 40px 80px;
        padding-bottom: 0;
    }

    .science-overlay {
        width: 65%;
    }

    .science-content {
        padding: 0px 200px;
        padding-top: 95px;
    }

    .science-title h3 {
        font-size: 2rem;
    }

    .science-title p {
        font-size: 3rem;
    }

    .science-question {
        margin-bottom: 75px;
    }

    .science-question img {
        margin-bottom: 20px;
    }

    .science-question p {
        font-size: 1.8rem;
    }

    .science-answers button {
        font-size: 1.8rem;
        padding: 8px 25px;
        margin: 16px 25px;
    }

    .science-result-content h3 {
        font-size: 5rem;
        margin-top: 120px;
        margin-bottom: 20px;
    }

    .science-result {
        font-size: 2rem;
        margin-top: 30px;
    }

    .progress-circle-cont {
        width: 250px;
        height: 250px;
    }

    .inner-circle span {
        font-size: 4rem;
    }
}

@media (min-height: 768px) /* 1366 x 768 */ {
    .science-result-overlay {
        width: 68%;
    }
}

@media (min-height: 1068px) {
    footer {
        margin-top: 20rem;
    }

    .science-overlay {
        width: 70%;
    }
}


